* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    overflow: hidden;
}
body {
    height: 100vh;
    background: radial-gradient(#e7e6e6 0%, #ffffff 100%);
}
.container {
    border: 1px solid rgb(141, 139, 139);
    border-radius: 5px;
    text-align: center;
    background: radial-gradient(#f3f1f1 0%, #eeeded 100%);
    width: 400px;
    padding: 10px 30px 20px 30px;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-group {
    position: relative;
    margin-top: 30px;
}
label {
    position: absolute;
    top: 7px;
    left: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    transition: 0.3s ease;
    color: #999898;
    z-index: -1;
}
input {
    width: 100%;
    padding: 10px 0;
    background: none !important;
    border: 1px solid #999 !important;
}
input:focus + label, input:valid + label {
    top: -45%;
    left: 2px;
    color: rgb(43, 43, 44);
    font-size: 11px !important;
    text-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
input:valid {
    border-color: rgb(92, 91, 91) !important;
}
.button {
    background-color: rgb(54, 54, 54);
    transition: 0.5s ease;
    outline: none !important;
    color: #777 !important;
}
.form-control:focus {
    border-color: rgb(92, 92, 94) !important;
    box-shadow: 0 0 5px rgb(43, 43, 44) !important;
}

.header h2 {
    color: rgb(88, 87, 87);
}
#stars1 {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 50s linear infinite;
    box-shadow: 779px 1331px #777, 324px 42px #777, 303px 586px #777,
    1312px 276px #777, 451px 625px #777, 521px 1931px #777, 1087px 1871px #777,
    36px 1546px #777, 132px 934px #777, 1698px 901px #777, 1418px 664px #777,
    1448px 1157px #777, 1084px 232px #777, 347px 1776px #777, 1722px 243px #777,
    1629px 835px #777, 479px 969px #777, 1231px 960px #777, 586px 384px #777,
    164px 527px #777, 8px 646px #777, 1150px 1126px #777, 665px 1357px #777,
    1556px 1982px #777, 1260px 1961px #777, 1675px 1741px #777,
    1843px 1514px #777, 718px 1628px #777, 242px 1343px #777, 1497px 1880px #777,
    1364px 230px #777, 1739px 1302px #777, 636px 959px #777, 304px 686px #777,
    614px 751px #777, 1935px 816px #777, 1428px 60px #777, 355px 335px #777,
    1594px 158px #777, 90px 60px #777, 1553px 162px #777, 1239px 1825px #777,
    1945px 587px #777, 749px 1785px #777, 1987px 1172px #777, 1301px 1237px #777,
    1039px 342px #777, 1585px 1481px #777, 995px 1048px #777, 524px 932px #777,
    214px 413px #777, 1701px 1300px #777, 1037px 1613px #777, 1871px 996px #777,
    1360px 1635px #777, 1110px 1313px #777, 412px 1783px #777, 1949px 177px #777,
    903px 1854px #777, 700px 1936px #777, 378px 125px #777, 308px 834px #777,
    1118px 962px #777, 1350px 1929px #777, 781px 1811px #777, 561px 137px #777,
    757px 1148px #777, 1670px 1979px #777, 343px 739px #777, 945px 795px #777,
    576px 1903px #777, 1078px 1436px #777, 1583px 450px #777, 1366px 474px #777,
    297px 1873px #777, 192px 162px #777, 1624px 1633px #777, 59px 453px #777,
    82px 1872px #777, 1933px 498px #777, 1966px 1974px #777, 1975px 1688px #777,
    779px 314px #777, 1858px 1543px #777, 73px 1507px #777, 1693px 975px #777,
    1683px 108px #777, 1768px 1654px #777, 654px 14px #777, 494px 171px #777,
    1689px 1895px #777, 1660px 263px #777, 1031px 903px #777, 1203px 1393px #777,
    1333px 1421px #777, 1113px 41px #777, 1206px 1645px #777, 1325px 1635px #777,
    142px 388px #777, 572px 215px #777, 1535px 296px #777, 1419px 407px #777,
    1379px 1003px #777, 329px 469px #777, 1791px 1652px #777, 935px 1802px #777,
    1330px 1820px #777, 421px 1933px #777, 828px 365px #777, 275px 316px #777,
    707px 960px #777, 1605px 1554px #777, 625px 58px #777, 717px 1697px #777,
    1669px 246px #777, 1925px 322px #777, 1154px 1803px #777, 1929px 295px #777,
    1248px 240px #777, 1045px 1755px #777, 166px 942px #777, 1888px 1773px #777,
    678px 1963px #777, 1370px 569px #777, 1974px 1400px #777, 1786px 460px #777,
    51px 307px #777, 784px 1400px #777, 730px 1258px #777, 1712px 393px #777,
    416px 170px #777, 1797px 1932px #777, 572px 219px #777, 1557px 1856px #777,
    218px 8px #777, 348px 1334px #777, 469px 413px #777, 385px 1738px #777,
    1357px 1818px #777, 240px 942px #777, 248px 1847px #777, 1535px 806px #777,
    236px 1514px #777, 1429px 1556px #777, 73px 1633px #777, 1398px 1121px #777,
    671px 1301px #777, 1404px 1663px #777, 740px 1018px #777, 1600px 377px #777,
    785px 514px #777, 112px 1084px #777, 1915px 1887px #777, 1463px 1848px #777,
    687px 1115px #777, 1268px 1768px #777, 1729px 1425px #777,
    1284px 1022px #777, 801px 974px #777, 1975px 1317px #777, 1354px 834px #777,
    1446px 1484px #777, 1283px 1786px #777, 11px 523px #777, 1842px 236px #777,
    1355px 654px #777, 429px 7px #777, 1033px 1128px #777, 157px 297px #777,
    545px 635px #777, 52px 1080px #777, 827px 1520px #777, 1121px 490px #777,
    9px 309px #777, 1744px 1586px #777, 1014px 417px #777, 1534px 524px #777,
    958px 552px #777, 1403px 1496px #777, 387px 703px #777, 1522px 548px #777,
    1355px 282px #777, 1532px 601px #777, 1838px 790px #777, 290px 259px #777,
    295px 598px #777, 1601px 539px #777, 1561px 1272px #777, 34px 1922px #777,
    1024px 543px #777, 467px 369px #777, 722px 333px #777, 1976px 1255px #777,
    766px 983px #777, 1582px 1285px #777, 12px 512px #777, 617px 1410px #777,
    682px 577px #777, 1334px 1438px #777, 439px 327px #777, 1617px 1661px #777,
    673px 129px #777, 794px 941px #777, 1386px 1902px #777, 37px 1353px #777,
    1467px 1353px #777, 416px 18px #777, 187px 344px #777, 200px 1898px #777,
    1491px 1619px #777, 811px 347px #777, 924px 1827px #777, 945px 217px #777,
    1735px 1228px #777, 379px 1890px #777, 79px 761px #777, 825px 1837px #777,
    1980px 1558px #777, 1308px 1573px #777, 1488px 1726px #777,
    382px 1208px #777, 522px 595px #777, 1277px 1898px #777, 354px 552px #777,
    161px 1784px #777, 614px 251px #777, 526px 1576px #777, 17px 212px #777,
    179px 996px #777, 467px 1208px #777, 1944px 1838px #777, 1140px 1093px #777,
    858px 1007px #777, 200px 1064px #777, 423px 1964px #777, 1945px 439px #777,
    1377px 689px #777, 1120px 1437px #777, 1876px 668px #777, 907px 1324px #777,
    343px 1976px #777, 1816px 1501px #777, 1849px 177px #777, 647px 91px #777,
    1984px 1012px #777, 1336px 1300px #777, 128px 648px #777, 305px 1060px #777,
    1324px 826px #777, 1263px 1314px #777, 1801px 629px #777, 1614px 1555px #777,
    1634px 90px #777, 1603px 452px #777, 891px 1984px #777, 1556px 1906px #777,
    121px 68px #777, 1676px 1714px #777, 516px 936px #777, 1947px 1492px #777,
    1455px 1519px #777, 45px 602px #777, 205px 1039px #777, 793px 172px #777,
    1562px 1739px #777, 1056px 110px #777, 1512px 379px #777, 1795px 1621px #777,
    1848px 607px #777, 262px 1719px #777, 477px 991px #777, 483px 883px #777,
    1239px 1197px #777, 1496px 647px #777, 1649px 25px #777, 1491px 1946px #777,
    119px 996px #777, 179px 1472px #777, 1341px 808px #777, 1565px 1700px #777,
    407px 1544px #777, 1754px 357px #777, 1288px 981px #777, 902px 1997px #777,
    1755px 1668px #777, 186px 877px #777, 1202px 1882px #777, 461px 1213px #777,
    1400px 748px #777, 1969px 1899px #777, 809px 522px #777, 514px 1219px #777,
    374px 275px #777, 938px 1973px #777, 357px 552px #777, 144px 1722px #777,
    1572px 912px #777, 402px 1858px #777, 1544px 1195px #777, 667px 1257px #777,
    727px 1496px #777, 993px 232px #777, 1772px 313px #777, 1040px 1590px #777,
    1204px 1973px #777, 1268px 79px #777, 1555px 1048px #777, 986px 1707px #777,
    978px 1710px #777, 713px 360px #777, 407px 863px #777, 461px 736px #777,
    284px 1608px #777, 103px 430px #777, 1283px 1319px #777, 977px 1186px #777,
    1966px 1516px #777, 1287px 1129px #777, 70px 1098px #777, 1189px 889px #777,
    1126px 1734px #777, 309px 1292px #777, 879px 764px #777, 65px 473px #777,
    1003px 1959px #777, 658px 791px #777, 402px 1576px #777, 35px 622px #777,
    529px 1589px #777, 164px 666px #777, 1876px 1290px #777, 1541px 526px #777,
    270px 1297px #777, 440px 865px #777, 1500px 802px #777, 182px 1754px #777,
    1264px 892px #777, 272px 1249px #777, 1289px 1535px #777, 190px 1646px #777,
    955px 242px #777, 1456px 1597px #777, 1727px 1983px #777, 635px 801px #777,
    226px 455px #777, 1396px 1710px #777, 849px 1863px #777, 237px 1264px #777,
    839px 140px #777, 1122px 735px #777, 1280px 15px #777, 1318px 242px #777,
    1819px 1148px #777, 333px 1392px #777, 1949px 553px #777, 1878px 1332px #777,
    467px 548px #777, 1812px 1082px #777, 1067px 193px #777, 243px 156px #777,
    483px 1616px #777, 1714px 933px #777, 759px 1800px #777, 1822px 995px #777,
    1877px 572px #777, 581px 1084px #777, 107px 732px #777, 642px 1837px #777,
    166px 1493px #777, 1555px 198px #777, 819px 307px #777, 947px 345px #777,
    827px 224px #777, 927px 1394px #777, 540px 467px #777, 1093px 405px #777,
    1140px 927px #777, 130px 529px #777, 33px 1980px #777, 1147px 1663px #777,
    1616px 1436px #777, 528px 710px #777, 798px 1100px #777, 505px 1480px #777,
    899px 641px #777, 1909px 1949px #777, 1311px 964px #777, 979px 1301px #777,
    1393px 969px #777, 1793px 1886px #777, 292px 357px #777, 1196px 1718px #777,
    1290px 1994px #777, 537px 1973px #777, 1181px 1674px #777,
    1740px 1566px #777, 1307px 265px #777, 922px 522px #777, 1892px 472px #777,
    384px 1746px #777, 392px 1098px #777, 647px 548px #777, 390px 1498px #777,
    1246px 138px #777, 730px 876px #777, 192px 1472px #777, 1790px 1789px #777,
    928px 311px #777, 1253px 1647px #777, 747px 1921px #777, 1561px 1025px #777,
    1533px 1292px #777, 1985px 195px #777, 728px 729px #777, 1712px 1936px #777,
    512px 1717px #777, 1528px 483px #777, 313px 1642px #777, 281px 1849px #777,
    1212px 799px #777, 435px 1191px #777, 1422px 611px #777, 1718px 1964px #777,
    411px 944px #777, 210px 636px #777, 1502px 1295px #777, 1434px 349px #777,
    769px 60px #777, 747px 1053px #777, 789px 504px #777, 1436px 1264px #777,
    1893px 1225px #777, 1394px 1788px #777, 1108px 1317px #777,
    1673px 1395px #777, 854px 1010px #777, 1705px 80px #777, 1858px 148px #777,
    1729px 344px #777, 1388px 664px #777, 895px 406px #777, 1479px 157px #777,
    1441px 1157px #777, 552px 1900px #777, 516px 364px #777, 1647px 189px #777,
    1427px 1071px #777, 785px 729px #777, 1080px 1710px #777, 504px 204px #777,
    1177px 1622px #777, 657px 34px #777, 1296px 1099px #777, 248px 180px #777,
    1212px 1568px #777, 667px 1562px #777, 695px 841px #777, 1608px 1247px #777,
    751px 882px #777, 87px 167px #777, 607px 1368px #777, 1363px 1203px #777,
    1836px 317px #777, 1668px 1703px #777, 830px 1154px #777, 1721px 1398px #777,
    1601px 1280px #777, 976px 874px #777, 1743px 254px #777, 1020px 1815px #777,
    1670px 1766px #777, 1890px 735px #777, 1379px 136px #777, 1864px 695px #777,
    206px 965px #777, 1404px 1932px #777, 1923px 1360px #777, 247px 682px #777,
    519px 1708px #777, 645px 750px #777, 1164px 1204px #777, 834px 323px #777,
    172px 1350px #777, 213px 972px #777, 1837px 190px #777, 285px 1806px #777,
    1047px 1299px #777, 1548px 825px #777, 1730px 324px #777, 1346px 1909px #777,
    772px 270px #777, 345px 1190px #777, 478px 1433px #777, 1479px 25px #777,
    1994px 1830px #777, 1744px 732px #777, 20px 1635px #777, 690px 1795px #777,
    1594px 569px #777, 579px 245px #777, 1398px 733px #777, 408px 1352px #777,
    1774px 120px #777, 1152px 1370px #777, 1698px 1810px #777, 710px 1450px #777,
    665px 286px #777, 493px 1720px #777, 786px 5px #777, 637px 1140px #777,
    764px 324px #777, 927px 310px #777, 938px 1424px #777, 1884px 744px #777,
    913px 462px #777, 1831px 1936px #777, 1527px 249px #777, 36px 1381px #777,
    1597px 581px #777, 1530px 355px #777, 949px 459px #777, 799px 828px #777,
    242px 1471px #777, 654px 797px #777, 796px 594px #777, 1365px 678px #777,
    752px 23px #777, 1630px 541px #777, 982px 72px #777, 1733px 1831px #777,
    21px 412px #777, 775px 998px #777, 335px 1945px #777, 264px 583px #777,
    158px 1311px #777, 528px 164px #777, 1978px 574px #777, 717px 1203px #777,
    734px 1591px #777, 1555px 820px #777, 16px 1943px #777, 1625px 1177px #777,
    1236px 690px #777, 1585px 1590px #777, 1737px 1728px #777, 721px 698px #777,
    1804px 1186px #777, 166px 980px #777, 1850px 230px #777, 330px 1712px #777,
    95px 797px #777, 1948px 1078px #777, 469px 939px #777, 1269px 1899px #777,
    955px 1220px #777, 1137px 1075px #777, 312px 1293px #777, 986px 1762px #777,
    1103px 1238px #777, 428px 1993px #777, 355px 570px #777, 977px 1836px #777,
    1395px 1092px #777, 276px 913px #777, 1743px 656px #777, 773px 502px #777,
    1686px 1322px #777, 1516px 1945px #777, 1334px 501px #777, 266px 156px #777,
    455px 655px #777, 798px 72px #777, 1059px 1259px #777, 1402px 1687px #777,
    236px 1329px #777, 1455px 786px #777, 146px 1228px #777, 1851px 823px #777,
    1062px 100px #777, 1220px 953px #777, 20px 1826px #777, 36px 1063px #777,
    1525px 338px #777, 790px 1521px #777, 741px 1099px #777, 288px 1489px #777,
    700px 1060px #777, 390px 1071px #777, 411px 1036px #777, 1853px 1072px #777,
    1446px 1085px #777, 1164px 874px #777, 924px 925px #777, 291px 271px #777,
    1257px 1964px #777, 1580px 1352px #777, 1507px 1216px #777, 211px 956px #777,
    985px 1195px #777, 975px 1640px #777, 518px 101px #777, 663px 1395px #777,
    914px 532px #777, 145px 1320px #777, 69px 1397px #777, 982px 523px #777,
    257px 725px #777, 1599px 831px #777, 1636px 1513px #777, 1250px 1158px #777,
    1132px 604px #777, 183px 102px #777, 1057px 318px #777, 1247px 1835px #777,
    1983px 1110px #777, 1077px 1455px #777, 921px 1770px #777, 806px 1350px #777,
    1938px 1992px #777, 855px 1260px #777, 902px 1345px #777, 658px 1908px #777,
    1845px 679px #777, 712px 1482px #777, 595px 950px #777, 1784px 1992px #777,
    1847px 1785px #777, 691px 1004px #777, 175px 1179px #777, 1666px 1911px #777,
    41px 61px #777, 971px 1080px #777, 1830px 1450px #777, 1351px 1518px #777,
    1257px 99px #777, 1395px 1498px #777, 1117px 252px #777, 1779px 597px #777,
    1346px 729px #777, 1108px 1144px #777, 402px 691px #777, 72px 496px #777,
    1673px 1604px #777, 1497px 974px #777, 1865px 1664px #777, 88px 806px #777,
    918px 77px #777, 244px 1118px #777, 256px 1820px #777, 1851px 1840px #777,
    605px 1851px #777, 634px 383px #777, 865px 37px #777, 943px 1024px #777,
    1951px 177px #777, 1097px 523px #777, 985px 1700px #777, 1243px 122px #777,
    768px 1070px #777, 468px 194px #777, 320px 1867px #777, 1850px 185px #777,
    380px 1616px #777, 468px 1294px #777, 1122px 1743px #777, 884px 299px #777,
    1300px 1917px #777, 1860px 396px #777, 1270px 990px #777, 529px 733px #777,
    1975px 1347px #777, 1885px 685px #777, 226px 506px #777, 651px 878px #777,
    1323px 680px #777, 1284px 680px #777, 238px 1967px #777, 911px 174px #777,
    1111px 521px #777, 1150px 85px #777, 794px 502px #777, 484px 1856px #777,
    1809px 368px #777, 112px 953px #777, 590px 1009px #777, 1655px 311px #777,
    100px 1026px #777, 1803px 352px #777, 865px 306px #777, 1077px 1019px #777,
    1335px 872px #777, 1647px 1298px #777, 1233px 1387px #777, 698px 1036px #777,
    659px 1860px #777, 388px 1412px #777, 1212px 458px #777, 755px 1468px #777,
    696px 1654px #777, 1144px 60px #777;
}

#stars1:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 779px 1331px #777, 324px 42px #777, 303px 586px #777,
    1312px 276px #777, 451px 625px #777, 521px 1931px #777, 1087px 1871px #777,
    36px 1546px #777, 132px 934px #777, 1698px 901px #777, 1418px 664px #777,
    1448px 1157px #777, 1084px 232px #777, 347px 1776px #777, 1722px 243px #777,
    1629px 835px #777, 479px 969px #777, 1231px 960px #777, 586px 384px #777,
    164px 527px #777, 8px 646px #777, 1150px 1126px #777, 665px 1357px #777,
    1556px 1982px #777, 1260px 1961px #777, 1675px 1741px #777,
    1843px 1514px #777, 718px 1628px #777, 242px 1343px #777, 1497px 1880px #777,
    1364px 230px #777, 1739px 1302px #777, 636px 959px #777, 304px 686px #777,
    614px 751px #777, 1935px 816px #777, 1428px 60px #777, 355px 335px #777,
    1594px 158px #777, 90px 60px #777, 1553px 162px #777, 1239px 1825px #777,
    1945px 587px #777, 749px 1785px #777, 1987px 1172px #777, 1301px 1237px #777,
    1039px 342px #777, 1585px 1481px #777, 995px 1048px #777, 524px 932px #777,
    214px 413px #777, 1701px 1300px #777, 1037px 1613px #777, 1871px 996px #777,
    1360px 1635px #777, 1110px 1313px #777, 412px 1783px #777, 1949px 177px #777,
    903px 1854px #777, 700px 1936px #777, 378px 125px #777, 308px 834px #777,
    1118px 962px #777, 1350px 1929px #777, 781px 1811px #777, 561px 137px #777,
    757px 1148px #777, 1670px 1979px #777, 343px 739px #777, 945px 795px #777,
    576px 1903px #777, 1078px 1436px #777, 1583px 450px #777, 1366px 474px #777,
    297px 1873px #777, 192px 162px #777, 1624px 1633px #777, 59px 453px #777,
    82px 1872px #777, 1933px 498px #777, 1966px 1974px #777, 1975px 1688px #777,
    779px 314px #777, 1858px 1543px #777, 73px 1507px #777, 1693px 975px #777,
    1683px 108px #777, 1768px 1654px #777, 654px 14px #777, 494px 171px #777,
    1689px 1895px #777, 1660px 263px #777, 1031px 903px #777, 1203px 1393px #777,
    1333px 1421px #777, 1113px 41px #777, 1206px 1645px #777, 1325px 1635px #777,
    142px 388px #777, 572px 215px #777, 1535px 296px #777, 1419px 407px #777,
    1379px 1003px #777, 329px 469px #777, 1791px 1652px #777, 935px 1802px #777,
    1330px 1820px #777, 421px 1933px #777, 828px 365px #777, 275px 316px #777,
    707px 960px #777, 1605px 1554px #777, 625px 58px #777, 717px 1697px #777,
    1669px 246px #777, 1925px 322px #777, 1154px 1803px #777, 1929px 295px #777,
    1248px 240px #777, 1045px 1755px #777, 166px 942px #777, 1888px 1773px #777,
    678px 1963px #777, 1370px 569px #777, 1974px 1400px #777, 1786px 460px #777,
    51px 307px #777, 784px 1400px #777, 730px 1258px #777, 1712px 393px #777,
    416px 170px #777, 1797px 1932px #777, 572px 219px #777, 1557px 1856px #777,
    218px 8px #777, 348px 1334px #777, 469px 413px #777, 385px 1738px #777,
    1357px 1818px #777, 240px 942px #777, 248px 1847px #777, 1535px 806px #777,
    236px 1514px #777, 1429px 1556px #777, 73px 1633px #777, 1398px 1121px #777,
    671px 1301px #777, 1404px 1663px #777, 740px 1018px #777, 1600px 377px #777,
    785px 514px #777, 112px 1084px #777, 1915px 1887px #777, 1463px 1848px #777,
    687px 1115px #777, 1268px 1768px #777, 1729px 1425px #777,
    1284px 1022px #777, 801px 974px #777, 1975px 1317px #777, 1354px 834px #777,
    1446px 1484px #777, 1283px 1786px #777, 11px 523px #777, 1842px 236px #777,
    1355px 654px #777, 429px 7px #777, 1033px 1128px #777, 157px 297px #777,
    545px 635px #777, 52px 1080px #777, 827px 1520px #777, 1121px 490px #777,
    9px 309px #777, 1744px 1586px #777, 1014px 417px #777, 1534px 524px #777,
    958px 552px #777, 1403px 1496px #777, 387px 703px #777, 1522px 548px #777,
    1355px 282px #777, 1532px 601px #777, 1838px 790px #777, 290px 259px #777,
    295px 598px #777, 1601px 539px #777, 1561px 1272px #777, 34px 1922px #777,
    1024px 543px #777, 467px 369px #777, 722px 333px #777, 1976px 1255px #777,
    766px 983px #777, 1582px 1285px #777, 12px 512px #777, 617px 1410px #777,
    682px 577px #777, 1334px 1438px #777, 439px 327px #777, 1617px 1661px #777,
    673px 129px #777, 794px 941px #777, 1386px 1902px #777, 37px 1353px #777,
    1467px 1353px #777, 416px 18px #777, 187px 344px #777, 200px 1898px #777,
    1491px 1619px #777, 811px 347px #777, 924px 1827px #777, 945px 217px #777,
    1735px 1228px #777, 379px 1890px #777, 79px 761px #777, 825px 1837px #777,
    1980px 1558px #777, 1308px 1573px #777, 1488px 1726px #777,
    382px 1208px #777, 522px 595px #777, 1277px 1898px #777, 354px 552px #777,
    161px 1784px #777, 614px 251px #777, 526px 1576px #777, 17px 212px #777,
    179px 996px #777, 467px 1208px #777, 1944px 1838px #777, 1140px 1093px #777,
    858px 1007px #777, 200px 1064px #777, 423px 1964px #777, 1945px 439px #777,
    1377px 689px #777, 1120px 1437px #777, 1876px 668px #777, 907px 1324px #777,
    343px 1976px #777, 1816px 1501px #777, 1849px 177px #777, 647px 91px #777,
    1984px 1012px #777, 1336px 1300px #777, 128px 648px #777, 305px 1060px #777,
    1324px 826px #777, 1263px 1314px #777, 1801px 629px #777, 1614px 1555px #777,
    1634px 90px #777, 1603px 452px #777, 891px 1984px #777, 1556px 1906px #777,
    121px 68px #777, 1676px 1714px #777, 516px 936px #777, 1947px 1492px #777,
    1455px 1519px #777, 45px 602px #777, 205px 1039px #777, 793px 172px #777,
    1562px 1739px #777, 1056px 110px #777, 1512px 379px #777, 1795px 1621px #777,
    1848px 607px #777, 262px 1719px #777, 477px 991px #777, 483px 883px #777,
    1239px 1197px #777, 1496px 647px #777, 1649px 25px #777, 1491px 1946px #777,
    119px 996px #777, 179px 1472px #777, 1341px 808px #777, 1565px 1700px #777,
    407px 1544px #777, 1754px 357px #777, 1288px 981px #777, 902px 1997px #777,
    1755px 1668px #777, 186px 877px #777, 1202px 1882px #777, 461px 1213px #777,
    1400px 748px #777, 1969px 1899px #777, 809px 522px #777, 514px 1219px #777,
    374px 275px #777, 938px 1973px #777, 357px 552px #777, 144px 1722px #777,
    1572px 912px #777, 402px 1858px #777, 1544px 1195px #777, 667px 1257px #777,
    727px 1496px #777, 993px 232px #777, 1772px 313px #777, 1040px 1590px #777,
    1204px 1973px #777, 1268px 79px #777, 1555px 1048px #777, 986px 1707px #777,
    978px 1710px #777, 713px 360px #777, 407px 863px #777, 461px 736px #777,
    284px 1608px #777, 103px 430px #777, 1283px 1319px #777, 977px 1186px #777,
    1966px 1516px #777, 1287px 1129px #777, 70px 1098px #777, 1189px 889px #777,
    1126px 1734px #777, 309px 1292px #777, 879px 764px #777, 65px 473px #777,
    1003px 1959px #777, 658px 791px #777, 402px 1576px #777, 35px 622px #777,
    529px 1589px #777, 164px 666px #777, 1876px 1290px #777, 1541px 526px #777,
    270px 1297px #777, 440px 865px #777, 1500px 802px #777, 182px 1754px #777,
    1264px 892px #777, 272px 1249px #777, 1289px 1535px #777, 190px 1646px #777,
    955px 242px #777, 1456px 1597px #777, 1727px 1983px #777, 635px 801px #777,
    226px 455px #777, 1396px 1710px #777, 849px 1863px #777, 237px 1264px #777,
    839px 140px #777, 1122px 735px #777, 1280px 15px #777, 1318px 242px #777,
    1819px 1148px #777, 333px 1392px #777, 1949px 553px #777, 1878px 1332px #777,
    467px 548px #777, 1812px 1082px #777, 1067px 193px #777, 243px 156px #777,
    483px 1616px #777, 1714px 933px #777, 759px 1800px #777, 1822px 995px #777,
    1877px 572px #777, 581px 1084px #777, 107px 732px #777, 642px 1837px #777,
    166px 1493px #777, 1555px 198px #777, 819px 307px #777, 947px 345px #777,
    827px 224px #777, 927px 1394px #777, 540px 467px #777, 1093px 405px #777,
    1140px 927px #777, 130px 529px #777, 33px 1980px #777, 1147px 1663px #777,
    1616px 1436px #777, 528px 710px #777, 798px 1100px #777, 505px 1480px #777,
    899px 641px #777, 1909px 1949px #777, 1311px 964px #777, 979px 1301px #777,
    1393px 969px #777, 1793px 1886px #777, 292px 357px #777, 1196px 1718px #777,
    1290px 1994px #777, 537px 1973px #777, 1181px 1674px #777,
    1740px 1566px #777, 1307px 265px #777, 922px 522px #777, 1892px 472px #777,
    384px 1746px #777, 392px 1098px #777, 647px 548px #777, 390px 1498px #777,
    1246px 138px #777, 730px 876px #777, 192px 1472px #777, 1790px 1789px #777,
    928px 311px #777, 1253px 1647px #777, 747px 1921px #777, 1561px 1025px #777,
    1533px 1292px #777, 1985px 195px #777, 728px 729px #777, 1712px 1936px #777,
    512px 1717px #777, 1528px 483px #777, 313px 1642px #777, 281px 1849px #777,
    1212px 799px #777, 435px 1191px #777, 1422px 611px #777, 1718px 1964px #777,
    411px 944px #777, 210px 636px #777, 1502px 1295px #777, 1434px 349px #777,
    769px 60px #777, 747px 1053px #777, 789px 504px #777, 1436px 1264px #777,
    1893px 1225px #777, 1394px 1788px #777, 1108px 1317px #777,
    1673px 1395px #777, 854px 1010px #777, 1705px 80px #777, 1858px 148px #777,
    1729px 344px #777, 1388px 664px #777, 895px 406px #777, 1479px 157px #777,
    1441px 1157px #777, 552px 1900px #777, 516px 364px #777, 1647px 189px #777,
    1427px 1071px #777, 785px 729px #777, 1080px 1710px #777, 504px 204px #777,
    1177px 1622px #777, 657px 34px #777, 1296px 1099px #777, 248px 180px #777,
    1212px 1568px #777, 667px 1562px #777, 695px 841px #777, 1608px 1247px #777,
    751px 882px #777, 87px 167px #777, 607px 1368px #777, 1363px 1203px #777,
    1836px 317px #777, 1668px 1703px #777, 830px 1154px #777, 1721px 1398px #777,
    1601px 1280px #777, 976px 874px #777, 1743px 254px #777, 1020px 1815px #777,
    1670px 1766px #777, 1890px 735px #777, 1379px 136px #777, 1864px 695px #777,
    206px 965px #777, 1404px 1932px #777, 1923px 1360px #777, 247px 682px #777,
    519px 1708px #777, 645px 750px #777, 1164px 1204px #777, 834px 323px #777,
    172px 1350px #777, 213px 972px #777, 1837px 190px #777, 285px 1806px #777,
    1047px 1299px #777, 1548px 825px #777, 1730px 324px #777, 1346px 1909px #777,
    772px 270px #777, 345px 1190px #777, 478px 1433px #777, 1479px 25px #777,
    1994px 1830px #777, 1744px 732px #777, 20px 1635px #777, 690px 1795px #777,
    1594px 569px #777, 579px 245px #777, 1398px 733px #777, 408px 1352px #777,
    1774px 120px #777, 1152px 1370px #777, 1698px 1810px #777, 710px 1450px #777,
    665px 286px #777, 493px 1720px #777, 786px 5px #777, 637px 1140px #777,
    764px 324px #777, 927px 310px #777, 938px 1424px #777, 1884px 744px #777,
    913px 462px #777, 1831px 1936px #777, 1527px 249px #777, 36px 1381px #777,
    1597px 581px #777, 1530px 355px #777, 949px 459px #777, 799px 828px #777,
    242px 1471px #777, 654px 797px #777, 796px 594px #777, 1365px 678px #777,
    752px 23px #777, 1630px 541px #777, 982px 72px #777, 1733px 1831px #777,
    21px 412px #777, 775px 998px #777, 335px 1945px #777, 264px 583px #777,
    158px 1311px #777, 528px 164px #777, 1978px 574px #777, 717px 1203px #777,
    734px 1591px #777, 1555px 820px #777, 16px 1943px #777, 1625px 1177px #777,
    1236px 690px #777, 1585px 1590px #777, 1737px 1728px #777, 721px 698px #777,
    1804px 1186px #777, 166px 980px #777, 1850px 230px #777, 330px 1712px #777,
    95px 797px #777, 1948px 1078px #777, 469px 939px #777, 1269px 1899px #777,
    955px 1220px #777, 1137px 1075px #777, 312px 1293px #777, 986px 1762px #777,
    1103px 1238px #777, 428px 1993px #777, 355px 570px #777, 977px 1836px #777,
    1395px 1092px #777, 276px 913px #777, 1743px 656px #777, 773px 502px #777,
    1686px 1322px #777, 1516px 1945px #777, 1334px 501px #777, 266px 156px #777,
    455px 655px #777, 798px 72px #777, 1059px 1259px #777, 1402px 1687px #777,
    236px 1329px #777, 1455px 786px #777, 146px 1228px #777, 1851px 823px #777,
    1062px 100px #777, 1220px 953px #777, 20px 1826px #777, 36px 1063px #777,
    1525px 338px #777, 790px 1521px #777, 741px 1099px #777, 288px 1489px #777,
    700px 1060px #777, 390px 1071px #777, 411px 1036px #777, 1853px 1072px #777,
    1446px 1085px #777, 1164px 874px #777, 924px 925px #777, 291px 271px #777,
    1257px 1964px #777, 1580px 1352px #777, 1507px 1216px #777, 211px 956px #777,
    985px 1195px #777, 975px 1640px #777, 518px 101px #777, 663px 1395px #777,
    914px 532px #777, 145px 1320px #777, 69px 1397px #777, 982px 523px #777,
    257px 725px #777, 1599px 831px #777, 1636px 1513px #777, 1250px 1158px #777,
    1132px 604px #777, 183px 102px #777, 1057px 318px #777, 1247px 1835px #777,
    1983px 1110px #777, 1077px 1455px #777, 921px 1770px #777, 806px 1350px #777,
    1938px 1992px #777, 855px 1260px #777, 902px 1345px #777, 658px 1908px #777,
    1845px 679px #777, 712px 1482px #777, 595px 950px #777, 1784px 1992px #777,
    1847px 1785px #777, 691px 1004px #777, 175px 1179px #777, 1666px 1911px #777,
    41px 61px #777, 971px 1080px #777, 1830px 1450px #777, 1351px 1518px #777,
    1257px 99px #777, 1395px 1498px #777, 1117px 252px #777, 1779px 597px #777,
    1346px 729px #777, 1108px 1144px #777, 402px 691px #777, 72px 496px #777,
    1673px 1604px #777, 1497px 974px #777, 1865px 1664px #777, 88px 806px #777,
    918px 77px #777, 244px 1118px #777, 256px 1820px #777, 1851px 1840px #777,
    605px 1851px #777, 634px 383px #777, 865px 37px #777, 943px 1024px #777,
    1951px 177px #777, 1097px 523px #777, 985px 1700px #777, 1243px 122px #777,
    768px 1070px #777, 468px 194px #777, 320px 1867px #777, 1850px 185px #777,
    380px 1616px #777, 468px 1294px #777, 1122px 1743px #777, 884px 299px #777,
    1300px 1917px #777, 1860px 396px #777, 1270px 990px #777, 529px 733px #777,
    1975px 1347px #777, 1885px 685px #777, 226px 506px #777, 651px 878px #777,
    1323px 680px #777, 1284px 680px #777, 238px 1967px #777, 911px 174px #777,
    1111px 521px #777, 1150px 85px #777, 794px 502px #777, 484px 1856px #777,
    1809px 368px #777, 112px 953px #777, 590px 1009px #777, 1655px 311px #777,
    100px 1026px #777, 1803px 352px #777, 865px 306px #777, 1077px 1019px #777,
    1335px 872px #777, 1647px 1298px #777, 1233px 1387px #777, 698px 1036px #777,
    659px 1860px #777, 388px 1412px #777, 1212px 458px #777, 755px 1468px #777,
    696px 1654px #777, 1144px 60px #777;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 100s linear infinite;
    box-shadow: 1448px 320px #777, 1775px 1663px #777, 332px 1364px #777,
    878px 340px #777, 569px 1832px #777, 1422px 1684px #777, 1946px 1907px #777,
    121px 979px #777, 1044px 1069px #777, 463px 381px #777, 423px 112px #777,
    1802px 1293px #777, 6px 1696px #777, 412px 1902px #777, 605px 438px #777,
    24px 1212px #777, 234px 1320px #777, 544px 344px #777, 1107px 170px #777,
    1603px 196px #777, 905px 648px #777, 68px 1458px #777, 649px 1969px #777,
    69px 1423px #777, 1108px 1053px #777, 1946px 128px #777, 371px 371px #777,
    1490px 220px #777, 357px 1885px #777, 363px 363px #777, 1896px 1256px #777,
    1979px 1050px #777, 947px 1342px #777, 1754px 242px #777, 514px 974px #777,
    65px 1477px #777, 1840px 547px #777, 950px 695px #777, 459px 1150px #777,
    1124px 1502px #777, 481px 940px #777, 680px 839px #777, 797px 1169px #777,
    582px 248px #777, 1308px 953px #777, 628px 657px #777, 897px 1535px #777,
    270px 931px #777, 791px 467px #777, 1336px 1732px #777, 1013px 1653px #777,
    1911px 956px #777, 587px 816px #777, 83px 456px #777, 930px 1478px #777,
    1587px 1694px #777, 614px 1200px #777, 302px 1782px #777, 1711px 1432px #777,
    443px 904px #777, 1666px 714px #777, 1588px 1167px #777, 273px 1075px #777,
    1679px 461px #777, 721px 664px #777, 1202px 10px #777, 166px 1126px #777,
    689px 285px #777, 460px 652px #777, 1627px 365px #777, 348px 1648px #777,
    819px 1946px #777, 981px 1917px #777, 323px 76px #777, 979px 684px #777,
    887px 536px #777, 1348px 1596px #777, 1055px 666px #777, 1402px 1797px #777,
    1300px 1055px #777, 937px 238px #777, 1474px 1815px #777, 1144px 1710px #777,
    1177px 699px #777, 1244px 1244px #777, 1371px 58px #777, 564px 1515px #777,
    1824px 487px #777, 929px 702px #777, 394px 1348px #777, 1161px 641px #777,
    219px 1841px #777, 358px 941px #777, 140px 1759px #777, 1019px 1345px #777,
    161px 1012px #777, 1308px 588px #777, 1789px 582px #777, 721px 1910px #777,
    318px 218px #777, 607px 319px #777, 495px 535px #777, 1552px 1575px #777,
    1562px 67px #777, 403px 926px #777, 1096px 1800px #777, 1814px 1709px #777,
    1882px 1831px #777, 533px 46px #777, 823px 969px #777, 530px 165px #777,
    1030px 352px #777, 1681px 313px #777, 338px 115px #777, 1607px 211px #777,
    100px 636px #777, 1473px 1445px #777, 1264px 1244px #777, 850px 1377px #777,
    987px 1976px #777, 933px 1761px #777, 922px 1270px #777, 500px 396px #777,
    1324px 8px #777, 1967px 1814px #777, 1072px 1401px #777, 961px 37px #777,
    156px 81px #777, 1915px 502px #777, 1076px 1846px #777, 152px 1669px #777,
    986px 1529px #777, 1667px 1137px #777;
}

#stars2:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1448px 320px #777, 1775px 1663px #777, 332px 1364px #777,
    878px 340px #777, 569px 1832px #777, 1422px 1684px #777, 1946px 1907px #777,
    121px 979px #777, 1044px 1069px #777, 463px 381px #777, 423px 112px #777,
    1802px 1293px #777, 6px 1696px #777, 412px 1902px #777, 605px 438px #777,
    24px 1212px #777, 234px 1320px #777, 544px 344px #777, 1107px 170px #777,
    1603px 196px #777, 905px 648px #777, 68px 1458px #777, 649px 1969px #777,
    69px 1423px #777, 1108px 1053px #777, 1946px 128px #777, 371px 371px #777,
    1490px 220px #777, 357px 1885px #777, 363px 363px #777, 1896px 1256px #777,
    1979px 1050px #777, 947px 1342px #777, 1754px 242px #777, 514px 974px #777,
    65px 1477px #777, 1840px 547px #777, 950px 695px #777, 459px 1150px #777,
    1124px 1502px #777, 481px 940px #777, 680px 839px #777, 797px 1169px #777,
    582px 248px #777, 1308px 953px #777, 628px 657px #777, 897px 1535px #777,
    270px 931px #777, 791px 467px #777, 1336px 1732px #777, 1013px 1653px #777,
    1911px 956px #777, 587px 816px #777, 83px 456px #777, 930px 1478px #777,
    1587px 1694px #777, 614px 1200px #777, 302px 1782px #777, 1711px 1432px #777,
    443px 904px #777, 1666px 714px #777, 1588px 1167px #777, 273px 1075px #777,
    1679px 461px #777, 721px 664px #777, 1202px 10px #777, 166px 1126px #777,
    689px 285px #777, 460px 652px #777, 1627px 365px #777, 348px 1648px #777,
    819px 1946px #777, 981px 1917px #777, 323px 76px #777, 979px 684px #777,
    887px 536px #777, 1348px 1596px #777, 1055px 666px #777, 1402px 1797px #777,
    1300px 1055px #777, 937px 238px #777, 1474px 1815px #777, 1144px 1710px #777,
    1177px 699px #777, 1244px 1244px #777, 1371px 58px #777, 564px 1515px #777,
    1824px 487px #777, 929px 702px #777, 394px 1348px #777, 1161px 641px #777,
    219px 1841px #777, 358px 941px #777, 140px 1759px #777, 1019px 1345px #777,
    161px 1012px #777, 1308px 588px #777, 1789px 582px #777, 721px 1910px #777,
    318px 218px #777, 607px 319px #777, 495px 535px #777, 1552px 1575px #777,
    1562px 67px #777, 403px 926px #777, 1096px 1800px #777, 1814px 1709px #777,
    1882px 1831px #777, 533px 46px #777, 823px 969px #777, 530px 165px #777,
    1030px 352px #777, 1681px 313px #777, 338px 115px #777, 1607px 211px #777,
    100px 636px #777, 1473px 1445px #777, 1264px 1244px #777, 850px 1377px #777,
    987px 1976px #777, 933px 1761px #777, 922px 1270px #777, 500px 396px #777,
    1324px 8px #777, 1967px 1814px #777, 1072px 1401px #777, 961px 37px #777,
    156px 81px #777, 1915px 502px #777, 1076px 1846px #777, 152px 1669px #777,
    986px 1529px #777, 1667px 1137px #777;
}



@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}