* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
header {
    min-height: 100%;
}
main {
    overflow: hidden;
    padding-bottom: 30px;
}
footer {
    height: 70px;
    background-color: #f2f2f2;
    margin-top: -70px;
}

/* Navbar */
.logo {
    color: #111;
    font-size: 28px;
    font-weight: 400;
}
nav {
    font-family: sans-serif;
    font-weight: 400;
    line-height: 73px;
    padding: 20px 150px;
    display: flex;
    color: #777;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease-in-out;
    position: fixed;
    width: calc(100% - 300px);
    z-index: 9999;
}
.nav-show {
    line-height: 53px;
    padding: 10px 150px;
    background-color: #fff;
}
.nav-hide {
    transform: translateY(-100%);
    transition: 0.3s ease-in-out;
}
nav ul {
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav ul li {
    list-style-type: none;
}
nav ul li a {
    color: #777;
    font-size: 14px;
    text-decoration: none;
}
nav ul li a:hover {
    color: #333;
}
.activity {
    width: 120px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.activity button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}
.activity img {
    width: 20px;
    height: 20px;
}
.activity i:hover {
    color: #333;
}
.activity-item {
    position: relative;
}
.search-bar {
    background-color: #fff;
    height: 73px;
    position: fixed;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 150px;
    width: calc(100% - 300px);
    transform: translateY(-100%);
    transition: 0.5s ease-in-out;
}
.search-bar-show {
    transform: translateY(0);
}
.search-bar input {
    width: 80%;
    height: 10px;
    padding: 20px;
    margin: 0 20px;
    font-size: 23px;
    font-weight: 300;
    outline: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid rgb(148, 148, 148);
    background: none;
}
.search-bar a {
    width: 32px;
    height: 32px;
    text-decoration: none;
}
.close {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}
.close div {
    height: 1px;
    width: 100%;
    position: absolute;
    background-color: #333;
}
.span1 {
    transform: rotate(45deg);
}
.span2 {
    transform: rotate(-45deg);
}

/* .activity-item p {
    position: absolute;
    font-size: 8px;
    top: 30%;
    right: 3px;
    background-color: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    padding: 0;
} */

/* Slider */
.slider {
    width: 100%;
    height: 350px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 113px;
}
.sub-content {
    display: block;
    text-align: center;
}
.sub-content h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 37px;

}
.sub-content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px !important;
    font-weight: 300 !important;
}

/* Content */
.content {
    width: 80%;
    margin: 100px auto;
    display: flex;
}

/* Sidebar */
.side-bar {
    width: 250px;
    padding: 5px 15px;
}
.side-bar h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.rangePrice p, label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px !important;
    font-weight: 300 !important;
    color: #333;
}
/* Price range input */
.rangePrice {
    display: flex;
    margin-top: 20px;
}
.span {
    margin: 10px 5px 10px 5px;
    width: 5px;
    background-color: #333;
    height: 1px;
}
hr.style-six {
    border: 0;
    height: 0;
    margin: 30px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Side menu */
.side-menu ul {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.side-menu ul li {
    list-style-type: none;
    margin: 7px 0;
    display: flex;
    justify-content: space-between;
}
.side-menu ul li a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 14px !important;
    font-weight: 300 !important;
    color: #333;
}
.side-menu ul li a:first-child {

    letter-spacing: 0.03em;
}

.side-menu ul li:hover a {
    color: red;
}

/* Product List */
.product-list {
    width: calc(100% - 290px);
    padding: 0px 15px;
}
.product-list h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    font-weight: 500;
    color: #333;
    margin: 0px 0 10px 0;
}

/* Product list header */
.product-list-header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.product-list-result {
    display: flex;
    margin-top: 10px;
}
.product-list-result p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #606060;
    margin: 0 10px 0 20px;
}
.product-sort {
    display: flex;
    cursor: pointer;
}
.product-sort p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #606060;
    margin: 0 10px 0 20px;
}
.product-sort .dropdown {
    position: relative;
    padding: 0;
    width: 5px;
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #606060;
    border-right: none;
    border-top: none;
    transition: 0.3s;
    transform: rotate(-45deg);
    margin: 7px 0 0 0;
} 
.product-sort:hover .dropdown {
    transform: rotate(135deg);
}

/* Product list item */
.product-list-items {
    margin-top: 35px;
    background-color: #fff;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));

}

/* Individual item */
.item {
    position: relative;
    height: 250px;
    border-radius: 3px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1s ease-in-out;
    text-decoration: none;
}
.item:hover, .item:focus {
    transform: scale(1.1);
}
/* Item image */
.item-img {
    height: 70%;
    width: 100%;
    position: relative;
}
.item-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Item details */
.item-detail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: calc(100% - 180px);
    overflow: hidden;
}
.item-detail h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px !important;
    font-weight: 300 !important;
    color: #333;
}

/* Item price */
.price {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
.price p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px !important;
    font-weight: 300 !important;
    color: #333;
    margin: 0 5px;
}
.price p:nth-child(2) {
    color: red;
}

/* Action button */
.action-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    margin: 40px auto 0 auto;
}
.action-btn div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-btn div img {
    width: 20px;
    height: 20px;
}
.pages {
    width: 100%;
}
.page-number {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}
.page-number a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #333;
}
.active {
    color: red !important;
}
.prev {
    transform: rotate(180deg);
    cursor: pointer;
}
.next {
    transform: rotate(360deg);
    cursor: pointer;
}

@media only screen and (max-width: 1428px) {
    .content {
        width: 80%;
    }
    .product-list {
        width: 90%;
        padding: 0 25px;
    }
}
@media only screen and (max-width: 1057px) {
    nav {
        padding: 20px 50px;
    }
    .content {
        width: 90%;
    }
    .product-list {
        width: 90%;
        padding: 0 25px;
    }
    .product-list-items {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    
    }
    /* Individual item */
    .item {
        height: 250px;
    }
}
@media only screen and (max-width: 860px) {

}




